# Backend
__pycache__/
*.py[cod]
venv/
.env
server/uploads/*
!server/uploads/.gitkeep
server/model/*.h5
!server/model/.gitkeep
# *$py.class
# *.so
# .Python
# ENV/
# env/
# *.log



# OTP Service
node_modules/
otp-service/node_modzules/
otp-service/.env



# Frontend
client/node_modules
# client/.env.local

# client/.pnp
# client/.pnp.js
# client/coverage
# client/build
# client/.DS_Store
# client/.env.development.local
# client/.env.test.local
# client/.env.production.local
# client/npm-debug.log*
# client/yarn-debug.log*
# client/yarn-error.log*



# IDE specific files
.vscode/
# .idea/
# *.swp
# *.swo 